<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/en/" />
    <script is:inline>
      const userLang = navigator.language || navigator.userLanguage;
      if (
        userLang.startsWith("uk") ||
        userLang.startsWith("be") ||
        userLang.startsWith("ru")
      ) {
        window.location.href = "/uk/";
      } else {
        window.location.href = "/en/";
      }
    </script>
  </head>
  <body>
    <p>Redirecting to <a href="/en/">English version</a>...</p>
  </body>
</html>
